<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>93472190039-mcfavt9ikp6ed4f37ks7ucof5u4dm9n8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.93472190039-mcfavt9ikp6ed4f37ks7ucof5u4dm9n8</string>
	<key>API_KEY</key>
	<string>AIzaSyDCTY_vh9Vga5SreA6INEIcvEeFHC0zBQY</string>
	<key>GCM_SENDER_ID</key>
	<string>93472190039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.tom.GitHubStatus</string>
	<key>PROJECT_ID</key>
	<string>github-status-a8907</string>
	<key>STORAGE_BUCKET</key>
	<string>github-status-a8907.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:93472190039:ios:aed5206d5c71b33d</string>
	<key>DATABASE_URL</key>
	<string>https://github-status-a8907.firebaseio.com</string>
</dict>
</plist>